<div class="top-menu">
    <ul class="menu">
        <li><a href="">Inicio</a></li>
        <li><a href="">Faq</a></li>
        <li><a href="">Doc</a></li>
    </ul>
</div>

<div class="header">
    <div class="header-image">
        <img src="{{ static('web/images/logo.png') }}" width="60" />
    </div>
    <div class="header-title">
        <h1>Asociación Python-España</h1>
    </div>
</div>
