{% extends "web/base.jinja" %}

{% block body %}
<div class="page-page">
    <section class="page">
        <article>
            {{ view.markup(page.content, truncate=False)|safe() }}
        </article>
    </section>
</div>
{% endblock %}
